extends layout

block content
  #ex-contract.container
    h4.text-center Пользовательское соглашение
    p.ex-separated
        | Данным Пользовательским Соглашением (далее – ПС) будут регулироваться отношения между Клиентом и Сайтом www.zaimhome.ru. ПС содержит в себе правила и условия пользования услугами, сервисами и контентом сайта. ПС является актуальным юридическим договором, которому Клиент должен следовать при использовании услуг и сервисов сайта. Контент ресурса может быть изменен администрацией сайта без уведомления об этом Клиента, поэтому Клиенту следует точно изучить данный документ и следить за его обновлениями. Отредактированный вариант ПС вступает в силу с момента его публикации на сайте www.zaimhome.ru.
    p.ex-separated
        | Сервис www.zaimhome.ru предоставляет услугу по подбору кредитных предложений, для использования которых Вам потребуется налаженная работа сети Интернет. Учтите тот факт, что настройка Интернета не входит в обязанности Компании. Vkredito не несет ответственности за качество работы сервера и связи с сайтом посредством сети Интернет, по причине которых может замедляться работа сайта или некорректно выполняться какие-либо сервисы.
    p.ex-separated
        | Для оказания услуг Клиенту, администрация сайта может запрашивать следующие данные:
    p персональные данные (контакты, по которым Компания может связаться с Клиентом);
    p паспортные данные;
    p информация о прописке и фактическом месте проживания;
    p
        | информация о месте работы (вид трудоустройства, должность, доход, стаж и прочее);
    p информация о недвижимости и другом ценном имуществе;
    p необходимый размер кредита.
    p.ex-separated
        | Клиенту следует указывать точную и актуальную информацию при заполнении анкеты, так как вся персональная информация клиента будет проверяться службой безопасности финансовой компании, которая осуществляет выдачу кредитов.
    p.ex-separated Сервисы сайта НЕ могут быть использованы в следующих целях:
    p
        | размещение, скачивание и распространение контента, который содержит оскорбительные и недостоверные данные, адресованные каким-либо лицам;
    p совершение незаконных действий, которые не соответствуют законам РФ;
    p подделка документов и мошенничество против лиц, группы лиц или организаций;
    p размещение личной информации о людях, которые не дали на это согласие;
    p
        | публикация вирусов, вредоносных программ, сообщений, которые призваны нарушить функциональность данного сайта и ресурсов других лиц;
    p нарушение законодательства РФ;
    p неправомерное упоминание других лиц;
    p ограничение или нарушение полноценного функционирования данного сайта;
    p несоблюдение правил и условий, которые предусмотрены данным ПС.
    p.ex-separated
        | Для того, чтобы Клиент мог получить необходимый ему займ, он должен предоставить только достовереные и актуальные персональные данные. Поэтому, во время заполнения анкеты необходимо быть предельно внимательным и перепроверить указанную информацию, ведь в Ваших интересах получить необходимый Вам заём.
    p.ex-separated
        | Обратите внимание, что контент сайта www.zaimhome.ru — платный и может содержать ссылки на посторонние ресурсы, за достоверность которых Компания не несет ответственности. Также, администрация сайта не отвечает за полное соответствие предпочтений Клиента всем сервисам сайта.
    p
        | Соглашаясь с данным ПС, Клиент принимает тот факт, что контент сайта www.zaimhome.ru. является интеллектуальной собственностью компании и защищён законом об авторском праве РФ.
    .row
        .col-xs-12.text-center.ex-agreement-check
            label.checkbox-inline
                span Я согласен(на) с условиями пользовательского соглашения
                input#agree(type='checkbox', onclick='checkMe();', value='', checked='')
                i
    .row.ex-mb
        .col-lg-4.col-lg-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
            div
                button#my_btn.ex-main-btn
                    a(href='form', style='text-decoration: none; color: white;') получить деньги