// Zaimhome
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9509439067407055', data-ad-slot='2796839299', data-ad-format='auto', data-full-width-responsive='true')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
a.cd-top(href='#0') Наверх
// ПИКСЕЛЬ MYTARGET
img(src='https://top-fwz1.mail.ru/tracker?id=undefined;e=RG%3A/trg-pixel-2721105-1534155815490')
footer.ex-main-footer
  .container(style='width: 100%')
    .col-sm-3.text-center
      .ex-footer-logo
        a(href='/')
          img.special_foot22(src='/images/header-logo.png', alt='Missing image')
      p.special_footer3 Сервис выгодного онлайн займа
    .col-sm-3.small.spec_footer4
      p
        | Сервис по подбору выгодных онлайн займов
        br
        | находящийся по адресу
        br
        | Россия, Ленинградская обл. г. Санкт-Петербург, ул. Осипенко, 12, оф 201
        br
        a(href='mailto:support@zaimhome.ru', target='_blank') support@zaimhome.ru
        span.hidden-xs.hidden-sm  | +7(495) 006 19 61
    .col-sm-6.hidden-xs.hidden-sm.spec_footer5
      p(style='font-size: 85%;')
        | Займы предоставляются на сумму от 1 000 до 100 000 рублей включительно на срок от 61 до 365 дней. Максимальная процентная ставка по займу составляет 0,98% в день, а минимальная 0,08%. Пример расчета общей стоимости займа: заём 20 000 руб. срок пользования 10 недель под 0,08% в день; проценты за весь период составят 11 200 руб. Итого к выплате 31 200 рублей. Первый заём до 10 000 рублей выдается по ставке 0% в случае своевременного погашения.
        br
        | ООО «Альянс» ОГРН 5177746353054 ИНН 9705113909 КПП 770501001
    .col-sm-12
      hr
      ul.list-inline.text-center
        li
          a(href='https://bankmoney.su/category/zajmy/zajm-na-kartu-mgnovenno-kruglosutochno-bez-otkaza/')  Займ на карту мгновенно круглосуточно без отказа   
        li
          a(href='https://bankmoney.su/category/zajmy/zajmy-onlajn/')    Займы онлайн   
        li
          a(href='https://bankmoney.su/category/zajmy/')    Займ   
        li
          a(href='https://bankmoney.su/category/zajmy/zajm-na-kartu/')    Займ на карту   
        li
          a(href='https://bankmoney.su/category/zajmy/zajmy-onlajn-na-kartu/')    Займы онлайн на карту 

  
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
script(src='/javascripts/get_display_size.js')
script(src='/javascripts/jquery-1.11.3.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/detect.min.js')
script(src='/javascripts/get_parameter.js')
script(src='/javascripts/ion.rangeSlider.min.js')
script(src='/javascripts/jquery.maskedinput.1.4.2.min.js')
script(src='/javascripts/jquery.poshytip.min.js')
//- script(src='/javascripts/jquery.form-validator.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')
script(src='/javascripts/jquery.suggestions.min.js')
script(src='/javascripts/coockie.js')
script(src='/javascripts/traffic.js')
script(src='/javascripts/modal.js')
script(src='/javascripts/owl.carousel.min.js')
script(src='/javascripts/settings_form.js')
script(src='/javascripts/backtotop.js')
script(src='/javascripts/fingerprintjs2.js')
script(src='/javascripts/main.js')
include yandexmetrika