.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="passport") Серия и номер паспорта
    .col-md-6
        .ex-wrapper
            input#passport.form-control.ec.tip(type="tel" name="passport" placeholder="Номер и серия паспорта" title="Укажите серию и номер паспорта" data-validation="custom" data-validation-regexp="^([0-9]{4}\\s[0-9]{6})+$" data-validation-error-msg="Укажите номер и серию паспорта" required="")
            span#passportstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите номер и серию паспорта
            p.text-muted.text-right Пример: 4510 123456
input#passport-s.form-control.ec(type="hidden" name="passport_s" title="Серия паспорта" data-validation="number" data-validation-allowing="range[1;9999]" data-validation-error-msg="Укажите серию паспорта")
input#passport-n.form-control.ec(type="hidden" name="passport_n" title="Номер паспорта" data-validation="number" data-validation-allowing="range[1;999999]" data-validation-error-msg="Укажите номер паспорта")
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="passportdate") Дата выдачи
    .col-md-6
        .ex-wrapper
            input#passportdate.form-control.ec.tip(type="text" name="passportdate" placeholder="Дата выдачи паспорта" title="Пожалуйста, выберете дату выдачи паспорта" data-validation="custom" data-validation-regexp="^[0-9]{2}\\/[0-9]{2}\\/[0-9]{4}$" data-validation-error-msg="Пожалуйста, выберите дату выдачи паспорта" required="")
            span#passportdazaimhomeatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите дату выдачи паспорта
            p.text-muted.text-right Пример: 24/03/2016
.form-group.has-feedback
    label.control-label.label-required.col-md-4(for="passport_code") Код подразделения
    .col-md-6
        .ex-wrapper
            input#passport_code.form-control.ec.tip(type="tel" name="passport_code" placeholder="Код подразделения" title="Укажите код подразделения" data-validation="custom" data-validation-regexp="^([0-9]{3}-[0-9]{3})$" data-validation-error-msg="Укажите код подразделения" required="")
            span#passport_codestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите код подразделения
            p.text-muted.text-right Пример: 770-098
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="passport_who") Кем выдан паспорт
    .col-md-6
        .ex-wrapper
            input#passport_who.form-control.ec.tip(type="text" name="passport_who" placeholder="Кем выдан паспорт" title="Укажите кем выдан паспорт" data-sanitize="capitalize" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\-\\.\\№\\(\\)\\s\\d]+$" data-validation-error-msg="Укажите кем выдан паспорт" required="")
            span#passport_whostatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите кем выдан паспорт
            p.text-muted.text-right Пример: ОТДЕЛЕНИЕ УФМС РОССИИ ПО ГОР. МОСКВЕ ПО РАЙОНУ ЩУКИНО
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="birthplace") Место рождения
    .col-md-6
        .ex-wrapper
            input#birthplace.form-control.ec.tip(type="text" name="birthplace" placeholder="Место рождения" title="Пожалуйста, ваше место рождения" data-sanitize="capitalize" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\d\\s\\-\\,\\#\\.\\+\\(\\)]+$" data-validation-error-msg="Укажите место рождения" required="")
            span#birthplacestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите место своего рождения
            p.text-muted.text-right Пример: г. Новосибирск, Новосибирского района
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="region") Регион проживания
    .col-md-6
        select#region.form-control.ec.tip(name='region', autocomplete='off', required='')
            option(value='') -- Выберите регион --
            option(value='Алтайский край', data-id='1') Алтайский край
            option(value='Амурская область', data-id='2') Амурская область
            option(value='Архангельская область', data-id='3') Архангельская область
            option(value='Астраханская область', data-id='4') Астраханская область
            option(value='Белгородская область', data-id='5') Белгородская область
            option(value='Брянская область', data-id='6') Брянская область
            option(value='Владимирская область', data-id='7') Владимирская область
            option(value='Волгоградская область', data-id='8') Волгоградская область
            option(value='Вологодская область', data-id='9') Вологодская область
            option(value='Воронежская область', data-id='10') Воронежская область
            option(value='Еврейская автономная область', data-id='11') Еврейская автономная область
            option(value='Забайкальский край', data-id='12') Забайкальский край
            option(value='Ивановская область', data-id='13') Ивановская область
            option(value='Иркутская область', data-id='14') Иркутская область
            option(value='Калининградская область', data-id='15') Калининградская область
            option(value='Калужская область', data-id='16') Калужская область
            option(value='Камчатский край', data-id='17') Камчатский край
            option(value='Кемеровская область', data-id='18') Кемеровская область
            option(value='Кировская область', data-id='19') Кировская область
            option(value='Костромская область', data-id='20') Костромская область
            option(value='Краснодарский край', data-id='21') Краснодарский край
            option(value='Красноярский край', data-id='22') Красноярский край
            option(value='Курганская область', data-id='23') Курганская область
            option(value='Курская область', data-id='24') Курская область
            option(value='Ленинградская область', data-id='25') Ленинградская область
            option(value='Липецкая область', data-id='26') Липецкая область
            option(value='Магаданская область', data-id='27') Магаданская область
            option(value='Москва', data-id='28') Москва
            option(value='Московская область', data-id='29') Московская область
            option(value='Мурманская область', data-id='30') Мурманская область
            option(value='Ненецкий автономный округ', data-id='31') Ненецкий автономный округ
            option(value='Нижегородская область', data-id='32') Нижегородская область
            option(value='Новгородская область', data-id='33') Новгородская область
            option(value='Новосибирская область', data-id='34') Новосибирская область
            option(value='Омская область', data-id='35') Омская область
            option(value='Оренбургская область', data-id='36') Оренбургская область
            option(value='Орловская область', data-id='37') Орловская область
            option(value='Пензенская область', data-id='38') Пензенская область
            option(value='Пермский край', data-id='39') Пермский край
            option(value='Приморский край', data-id='40') Приморский край
            option(value='Псковская область', data-id='41') Псковская область
            option(value='Республика Адыгея', data-id='42') Республика Адыгея
            option(value='Республика Алтай', data-id='43') Республика Алтай
            option(value='Республика Башкортостан', data-id='44') Республика Башкортостан
            option(value='Республика Бурятия', data-id='45') Республика Бурятия
            option(value='Республика Дагестан', data-id='46') Республика Дагестан
            option(value='Республика Ингушетия', data-id='47') Республика Ингушетия
            option(value='Республика Кабардино-Балкария', data-id='48') Республика Кабардино-Балкария
            option(value='Республика Калмыкия', data-id='49') Республика Калмыкия
            option(value='Республика Карачаево-Черкессия', data-id='50') Республика Карачаево-Черкессия
            option(value='Республика Карелия', data-id='51', selected='') Республика Карелия
            option(value='Республика Коми', data-id='52') Республика Коми
            option(value='Республика Марий Эл', data-id='53') Республика Марий Эл
            option(value='Республика Мордовия', data-id='54') Республика Мордовия
            option(value='Республика Саха (Якутия)', data-id='55') Республика Саха (Якутия)
            option(value='Республика Северная Осетия (Алания)', data-id='56') Республика Северная Осетия (Алания)
            option(value='Республика Татарстан', data-id='57') Республика Татарстан
            option(value='Республика Тыва (Тува)', data-id='58') Республика Тыва (Тува)
            option(value='Республика Удмуртия', data-id='59') Республика Удмуртия
            option(value='Республика Хакасия', data-id='60') Республика Хакасия
            option(value='Республика Чечня', data-id='61') Республика Чечня
            option(value='Республика Чувашия', data-id='62') Республика Чувашия
            option(value='Ростовская область', data-id='63') Ростовская область
            option(value='Рязанская область', data-id='64') Рязанская область
            option(value='Самарская область', data-id='65') Самарская область
            option(value='Санкт-Петербург', data-id='66') Санкт-Петербург
            option(value='Саратовская область', data-id='67') Саратовская область
            option(value='Сахалинская область', data-id='68') Сахалинская область
            option(value='Свердловская область', data-id='69') Свердловская область
            option(value='Смоленская область', data-id='70') Смоленская область
            option(value='Ставропольский край', data-id='71') Ставропольский край
            option(value='Тамбовская область', data-id='72') Тамбовская область
            option(value='Тверская область', data-id='73') Тверская область
            option(value='Томская область', data-id='74') Томская область
            option(value='Тульская область', data-id='75') Тульская область
            option(value='Тюменская область', data-id='76') Тюменская область
            option(value='Ульяновская область', data-id='77') Ульяновская область
            option(value='Хабаровский край', data-id='78') Хабаровский край
            option(value='Ханты-Мансийский автономный округ', data-id='79') Ханты-Мансийский автономный округ
            option(value='Челябинская область', data-id='80') Челябинская область
            option(value='Чукотский автономный округ', data-id='81') Чукотский автономный округ
            option(value='Ямало-Ненецкий автономный округ', data-id='82') Ямало-Ненецкий автономный округ
            option(value='Ярославская область', data-id='83') Ярославская область
            option(value='Республика Крым', data-id='84') Республика Крым
            option(value='Севастополь', data-id='85') Севастополь
.form-group.has-feedback
    br
    label.control-label.col-md-4.label-required(for="city") Город проживания
    .col-md-6
        .ex-wrapper
            input#city.form-control.ec.tip(type="text" name="city" placeholder="Населённый пункт" title="Укажите город в котором вы живете" value="" pattern="^[А-Яа-яЁё\\-\\.\\(\\)\\s]+$" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите город своего проживания")
            span#citystatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите город своего проживания
            p.text-muted.text-right Пример: г. Новосибирск
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="street") Улица проживания
    .col-md-6
        .ex-wrapper
            input#street.form-control.ec.tip(type="text" name="street" placeholder="Улица" title="Укажите название улицы" data-sanitize="capitalize" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\d\\s\\-\\,\\#\\.\\+\\(\\)]+$" data-validation-error-msg="Укажите улицу" required="")
            span#streetstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите улицу своего проживания
            p.text-muted.text-right Пример: ул. Ленина
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="building") Номер дома
    .col-md-6
        .ex-wrapper
            input#building.form-control.ec.tip(type="text" name="building" placeholder="Номер дома" title="Укажите номер дома" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё0-9\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите номер дома" required="")
            span#buildingstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите № дома своего проживания
            p.text-muted.text-right Пример: 14
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="housing") Строение (корпус)
    .col-md-6
        .ex-wrapper
            input#housing.form-control.ec.tip(type="text" name="housing" placeholder="Строение (корпус)" title="Укажите номер корпуса или строения" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё0-9\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите строение (корпус)" data-validation-optional="true")
            span#housingstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите строение\\корпус (не обязательно)
            p.text-muted.text-right Пример: 1а
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="flat") Квартира
    .col-md-6
        .ex-wrapper
            input#flat.form-control.ec.tip(type="text" name="flat" placeholder="Квартира" title="Укажите номер квартиры" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё0-9\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите номер квартиры" data-validation-optional="true")
            span#flatstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите номер вашей квартиры
            p.text-muted.text-right Пример: 38
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="reg_type") Тип регистрации
    .col-md-6
        select#reg_type.form-control.ec(size="1" name="reg_type")
            option(selected="" value="1") Постоянная регистрация
            option(value="0") Без регистрации
            option(value="2") Временная регистрация
fieldset#reg_same.hidden
    .form-group
    label.col-sm-7.control-label.label-required
        b Регистрация совпадает с местом жительства
    .col-sm-3
        .pull-right
        label.radio-inline
            input.reg_same.ec(type="radio" name="reg_same" value="1" required="" checked="checked")
            |  Да
        label.radio-inline
            input.reg_same.ec(type="radio" name="reg_same" value="0" required="")
            |  Нет
    .clearfix
.form-group
    .col-md-12.text-center
        button#next2.ex-main-btn(type="button")  Далее 
