.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="work") Вид трудоустройства
    .col-md-6
        select#work.form-control.ec(size="1" name="work")
            option(selected="" value="ШТАТНЫЙ СОТРУДНИК") Штатный сотрудник
            option(value="ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ") Индивидуальный предприниматель
            option(value="СТУДЕНТ") Студент
            option(value="ПЕНСИОНЕР") Пенсионер
            option(value="БЕЗРАБОТНЫЙ") Безработный
.form-group.has-feedback
    br
    label.control-label.col-md-4.label-required(for="work_name") Место работы
    .col-md-6
        .ex-wrapper
            input#work_name.form-control.ec.tip(type="text" name="work_name" placeholder="Место работы" title="Укажите ваше место работы" data-sanitize="capitalize" data-validation="custom" data-validation-regexp='^[А-Яа-яЁё\\d\\s\\-\\,\\№\\#\\.\\+\\(\\)"]+$' data-validation-error-msg="Укажите ваше место работы" required="")
            span#work_namestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Нужно указать место работы
            p.text-muted.text-right Пример: ООО "Завод"
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="work_occupation") Должность
    .col-md-6
        .ex-wrapper
            input#work_occupation.form-control.ec.tip(type="text" name="work_occupation" placeholder="Должность" title="Укажите вашу должность" data-sanitize="capitalize" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\d\\s\\-\\,\\#\\.\\+\\(\\)]+$" data-validation-error-msg="Укажите вашу должность" required="")
            span#work_occupationstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Нужно указать вашу профессию
            p.text-muted.text-right Пример: электрик-монтажник
.form-group.has-feedback
    label.control-label.col-md-4(for="work_phone") Рабочий телефон
    .col-md-6
        .ex-wrapper
            input#work_phone.form-control.ec.tip(type="tel" name="work_phone" placeholder="Рабочий телефон" title="Введите ваш рабочий телефон" data-validation="custom" data-validation-regexp="^[8]\\s\\([0-9]{3}\\)\\s[0-9]{3}\\s[0-9]{4}$" data-validation-error-msg="Введите ваш рабочий телефон" required="")
            span#work_phonestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите рабочий мобильный телефон
            p.text-muted.text-right только мобильный: 8(912)123-45-67
.form-group.has-feedback
    label.control-label.col-md-4(for="work_experience") Стаж работы(в месяцах)
    .col-md-6
        .ex-wrapper
            input#work_experience.form-control.ec.tip(type="tel" name="work_experience" placeholder="Стаж работы (в месяцах)" title="Введите ваш стаж работы в месяцах" data-validation="number" data-validation-error-msg="Введите ваш стаж работы в месяцах" required="")
            span#work_experiencestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите стаж работы (в месяцах)
            p.text-muted.text-right Пример: 12
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="work_salary") Зарплата(в рублях)
    .col-md-6
        .ex-wrapper
            input#work_salary.form-control.ec.tip(type="tel" maxlength="6" name="work_salary" placeholder="Зарплата (в рублях)" title="Введите вашу среднюю зарплату" data-validation="number" data-validation-error-msg="Введите среднюю зарплату" required="")
            span#work_salarystatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите месячную зарплату (в руб.)
            p.text-muted.text-right Пример: 25000
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="work_region") Регион работы
    .col-md-6 
        select#work_region.form-control.ec.tip(name='work_region', autocomplete='off', required='')
            option(value='', selected='') -- Выберите регион --
            option(value='Алтайский край', data-id='1', data-capital='Барнаул', data-kladr='22') Алтайский край
            option(value='Амурская область', data-id='2', data-capital='Благовещенск', data-kladr='28') Амурская область
            option(value='Архангельская область', data-id='3', data-capital='Архангельск', data-kladr='29') Архангельская область
            option(value='Астраханская область', data-id='4', data-capital='Астрахань', data-kladr='30') Астраханская область
            option(value='Белгородская область', data-id='5', data-capital='Белгород', data-kladr='31') Белгородская область
            option(value='Брянская область', data-id='6', data-capital='Брянск', data-kladr='32') Брянская область
            option(value='Владимирская область', data-id='7', data-capital='Владимир', data-kladr='33') Владимирская область
            option(value='Волгоградская область', data-id='8', data-capital='Волгоград', data-kladr='34') Волгоградская область
            option(value='Вологодская область', data-id='9', data-capital='Вологда', data-kladr='35') Вологодская область
            option(value='Воронежская область', data-id='10', data-capital='Воронеж', data-kladr='36') Воронежская область
            option(value='Еврейская автономная область', data-id='11', data-capital='Биробиджан', data-kladr='79') Еврейская автономная область
            option(value='Забайкальский край', data-id='12', data-capital='Чита', data-kladr='80') Забайкальский край
            option(value='Ивановская область', data-id='13', data-capital='Иваново', data-kladr='37') Ивановская область
            option(value='Иркутская область', data-id='14', data-capital='Иркутск', data-kladr='38') Иркутская область
            option(value='Калининградская область', data-id='15', data-capital='Калининград', data-kladr='39') Калининградская область
            option(value='Калужская область', data-id='16', data-capital='Калуга', data-kladr='40') Калужская область
            option(value='Камчатский край', data-id='17', data-capital='Петропавловск-Камчатский', data-kladr='41') Камчатский край
            option(value='Кемеровская область', data-id='18', data-capital='Кемерово', data-kladr='42') Кемеровская область
            option(value='Кировская область', data-id='19', data-capital='Киров', data-kladr='43') Кировская область
            option(value='Костромская область', data-id='20', data-capital='Кострома', data-kladr='44') Костромская область
            option(value='Краснодарский край', data-id='21', data-capital='Краснодар', data-kladr='23') Краснодарский край
            option(value='Красноярский край', data-id='22', data-capital='Красноярск', data-kladr='24') Красноярский край
            option(value='Курганская область', data-id='23', data-capital='Курган', data-kladr='45') Курганская область
            option(value='Курская область', data-id='24', data-capital='Курск', data-kladr='46') Курская область
            option(value='Ленинградская область', data-id='25', data-capital='Санкт-Петербург', data-kladr='47') Ленинградская область
            option(value='Липецкая область', data-id='26', data-capital='Липецк', data-kladr='48') Липецкая область
            option(value='Магаданская область', data-id='27', data-capital='Магадан', data-kladr='49') Магаданская область
            option(value='Москва и Московская область', data-id='28', data-capital='Москва', data-kladr='77') Москва и Московская область
            option(value='Москва и Московская область', data-id='29', data-capital='Москва', data-kladr='50') Москва и Московская область
            option(value='Мурманская область', data-id='30', data-capital='Мурманск', data-kladr='51') Мурманская область
            option(value='Ненецкий автономный округ', data-id='31', data-capital='Нарьян-Мар', data-kladr='83') Ненецкий автономный округ
            option(value='Нижегородская область', data-id='32', data-capital='Нижний Новгород', data-kladr='52') Нижегородская область
            option(value='Новгородская область', data-id='33', data-capital='Великий Новгород', data-kladr='53') Новгородская область
            option(value='Новосибирская область', data-id='34', data-capital='Новосибирск', data-kladr='54') Новосибирская область
            option(value='Омская область', data-id='35', data-capital='Омск', data-kladr='55') Омская область
            option(value='Оренбургская область', data-id='36', data-capital='Оренбург', data-kladr='56') Оренбургская область
            option(value='Орловская область', data-id='37', data-capital='Орёл', data-kladr='57') Орловская область
            option(value='Пензенская область', data-id='38', data-capital='Пенза', data-kladr='58') Пензенская область
            option(value='Пермский край', data-id='39', data-capital='Пермь', data-kladr='59') Пермский край
            option(value='Приморский край', data-id='40', data-capital='Владивосток', data-kladr='25') Приморский край
            option(value='Псковская область', data-id='41', data-capital='Псков', data-kladr='60') Псковская область
            option(value='Республика Адыгея', data-id='42', data-capital='Майкоп', data-kladr='1') Республика Адыгея
            option(value='Республика Алтай', data-id='43', data-capital='Горно-Алтайск', data-kladr='4') Республика Алтай
            option(value='Республика Башкортостан', data-id='44', data-capital='Уфа', data-kladr='2') Республика Башкортостан
            option(value='Республика Бурятия', data-id='45', data-capital='Улан-Удэ', data-kladr='3') Республика Бурятия
            option(value='Республика Дагестан', data-id='46', data-capital='Махачкала', data-kladr='5') Республика Дагестан
            option(value='Республика Ингушетия', data-id='47', data-capital='Магас', data-kladr='6') Республика Ингушетия
            option(value='Республика Кабардино-Балкария', data-id='48', data-capital='Нальчик', data-kladr='7') Республика Кабардино-Балкария
            option(value='Республика Калмыкия', data-id='49', data-capital='Элиста', data-kladr='8') Республика Калмыкия
            option(value='Республика Карачаево-Черкессия', data-id='50', data-capital='Черкесск', data-kladr='9') Республика Карачаево-Черкессия
            option(value='Республика Карелия', data-id='51', data-capital='Петрозаводск', data-kladr='10') Республика Карелия
            option(value='Республика Коми', data-id='52', data-capital='Сыктывкар', data-kladr='11') Республика Коми
            option(value='Республика Марий Эл', data-id='53', data-capital='Йошкар-Ола', data-kladr='12') Республика Марий Эл
            option(value='Республика Мордовия', data-id='54', data-capital='Саранск', data-kladr='13') Республика Мордовия
            option(value='Республика Саха(Якутия)', data-id='55', data-capital='Якутск', data-kladr='14') Республика Саха(Якутия)
            option(value='Республика Северная Осетия (Алания)', data-id='56', data-capital='Владикавказ', data-kladr='15') Республика Северная Осетия (Алания)
            option(value='Республика Татарстан', data-id='57', data-capital='Казань', data-kladr='16') Республика Татарстан
            option(value='Республика Тыва (Тува)', data-id='58', data-capital='Кызыл', data-kladr='17') Республика Тыва (Тува)
            option(value='Республика Удмуртия', data-id='59', data-capital='Ижевск', data-kladr='18') Республика Удмуртия
            option(value='Республика Хакасия', data-id='60', data-capital='Абакан', data-kladr='19') Республика Хакасия
            option(value='Республика Чечня', data-id='61', data-capital='Грозный', data-kladr='20') Республика Чечня
            option(value='Республика Чувашия', data-id='62', data-capital='Чебоксары', data-kladr='21') Республика Чувашия
            option(value='Ростовская область', data-id='63', data-capital=' Ростов-на-Дону ', data-kladr='61') Ростовская область
            option(value='Рязанская область', data-id='64', data-capital='Рязань', data-kladr='62') Рязанская область
            option(value='Самарская область', data-id='65', data-capital='Самара', data-kladr='63') Самарская область
            option(value='Санкт-Петербург и Ленинградская область', data-id='66', data-capital='Санкт-Петербург', data-kladr='78') Санкт-Петербург и Ленинградская область
            option(value='Саратовская область', data-id='67', data-capital='Саратов', data-kladr='64') Саратовская область
            option(value='Сахалинская область', data-id='68', data-capital='Южно-Сахалинск', data-kladr='65') Сахалинская область
            option(value='Свердловская область', data-id='69', data-capital='Екатеринбург', data-kladr='66') Свердловская область
            option(value='Смоленская область', data-id='70', data-capital='Смоленск', data-kladr='67') Смоленская область
            option(value='Ставропольский край', data-id='71', data-capital='Ставрополь', data-kladr='26') Ставропольский край
            option(value='Тамбовская область', data-id='72', data-capital='Тамбов', data-kladr='68') Тамбовская область
            option(value='Тверская область', data-id='73', data-capital='Тверь', data-kladr='69') Тверская область
            option(value='Томская область', data-id='74', data-capital='Томск', data-kladr='70') Томская область
            option(value='Тульская область', data-id='75', data-capital='Тула', data-kladr='71') Тульская область
            option(value='Тюменская область', data-id='76', data-capital='Тюмень', data-kladr='72') Тюменская область
            option(value='Ульяновская область', data-id='77', data-capital='Ульяновск', data-kladr='73') Ульяновская область
            option(value='Хабаровский край', data-id='78', data-capital='Хабаровск', data-kladr='27') Хабаровский край
            option(value='Ханты-Мансийский автономный округ', data-id='79', data-capital='Ханты-Мансийск', data-kladr='86') Ханты-Мансийский автономный округ
            option(value='Челябинская область', data-id='80', data-capital='Челябинск', data-kladr='74') Челябинская область
            option(value='Чукотский автономный округ', data-id='81', data-capital='Анадырь', data-kladr='87') Чукотский автономный округ
            option(value='Ямало-Ненецкий автономный округ', data-id='82', data-capital='Салехард', data-kladr='89') Ямало-Ненецкий автономный округ
            option(value='Ярославская область', data-id='83', data-capital='Ярославль', data-kladr='76') Ярославская область
            option(value='Республика Крым', data-id='84', data-capital='Симферополь', data-kladr='91') Республика Крым
            option(value='Севастополь', data-id='85', data-capital='Севастополь', data-kladr='92') Севастополь
.form-group.has-feedback
    br
    label.control-label.col-md-4.label-required(for="work_city") Город места работы
    .col-md-6
        .ex-wrapper
            input#work_city.form-control.ec.tip(type="text" name="work_city" placeholder="Населённый пункт" title="Укажите населенный пункт" value="" data-sanitize="capitalize" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите населенный пункт" required="")
            span#work_citystatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите город где работаете
            p.text-muted.text-right Пример: г. Новосибирск
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="work_street") Улица работы
    .col-md-6
        .ex-wrapper
            input#work_street.form-control.ec.tip(type="text" name="work_street" placeholder="Улица" title="Укажите улицу" data-sanitize="capitalize" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё\\d\\s\\-\\,\\#\\.\\+\\(\\)]+$" data-validation-error-msg="Укажите улицу" required="")
            span#work_streetstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите улицу где работаете
            p.text-muted.text-right Пример: ул. Ленина
.form-group.has-feedback
    label.control-label.col-md-4.label-required(for="work_house") № дома работы
    .col-md-6
        .ex-wrapper
            input#work_house.form-control.ec.tip(type="text" name="work_house" placeholder="Номер дома" title="Укажите номер дома" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё0-9\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите номер дома" required="")
            span#work_housestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите № дома где работаете
            p.text-muted.text-right Пример: 14
.form-group.has-feedback
    label.control-label.col-md-4(for="work_building") Строение (корпус)
    .col-md-6
        .ex-wrapper
            input#work_building.form-control.ec.tip(type="text" name="work_building" placeholder="Строение (корпус)" title="Укажите номер строения или корпуса" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё0-9\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите строение (корпус)" data-validation-optional="true")
            span#work_buildingstatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите строение\\корпус работы
            p.text-muted.text-right Пример: 1а
.form-group.has-feedback
    label.control-label.col-md-4(for="work_office") № кабинета
    .col-md-6
        .ex-wrapper
            input#work_office.form-control.ec.tip(type="text" name="work_office" placeholder="Офис" title="Укажите номер офиса" data-validation="custom" data-validation-regexp="^[А-Яа-яЁё0-9\\-\\.\\(\\)\\s]+$" data-validation-error-msg="Укажите номер офиса" data-validation-optional="true")
            span#work_officestatus.glyphicon.form-control-feedback(aria-hidden="true")
            p.help-block2 Укажите № офиса\\кабинета работы
            p.text-muted.text-right Пример: 108
.form-group
    .col-md-6.col-md-offset-4
        a#getmoney.ex-main-btn.text-center(style="width: 100%;text-transform: uppercase; text-decoration: none;")
            | получить займ