nav.navbar.navbar-default.ex-main-header
  .container
    .row
      .col-xs-12
        .navbar-header
          button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/zaimhome_logo.png', alt='Image missing')
        #navbarCollapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a#drop1.dropdown-toggle(href='#', data-toggle='dropdown')
                | О сервисе
                span.caret
              ul.dropdown-menu
                li
                  a.hov(href='/about') О сервисе
                li
                  a.hov(href='/money') Виды займов
                li
                  a.hov(href='/oferta') Публичная оферта
                li
                  a.hov(href='/rules') Правила предоставления займов
                li
                  a.hov(href='/agreement') Согласие на обработку данных
                li
                  a.hov(href='/documents') Правовые документы
            li
              a(href='/form') Получить деньги 
            li
              a(href='/faq') FAQ
            li
              a(href='', data-toggle='modal', data-target='#helpModal') Обратная связь
// Modal
#helpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='helpModal')
  .modal-dialog(role='document')
    .modal-content
      .modal-header.text-center
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.text-center Остались вопросы?
        p.text-center Просто заполните форму и наш специалист свяжется с Вами
      .modal-body
        .row
          .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
            form
              .form-group
                input#feedback-name.form-control(type='text', placeholder='Имя', title='Имя', required='')
              .form-group
                input#feedback-phone.form-control(type='hidden', title='Телефон')
              .form-group
                input#feedback-email.form-control(type='email', placeholder='Email', title='Email', required='')
              .form-group
                textarea#feedback-comment.form-control(placeholder='Текст вашего сообщения', title='Текст вашего сообщения', required='')
              .ex-actions
                button#feedback-send.ex-main-btn Отправить
                button.ex-main-btn(data-dismiss='modal', aria-label='Close') Закрыть